@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(180, 20%, 60%);
    color: white;
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
}
h2{
    font-weight: 700;
}
p{
    font-weight: 300;
}
.container{
    width: 70rem;
    margin: 2rem auto;
    background-color: hsl(167, 39%, 93%);
    color: black;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 8px -2px;
    
}   
.nav{
    background-color: hsl(187, 100%, 20%);
    text-align: center;
    padding: 3rem;
    border-radius: 13px 13px 0 0 ;
    color: hsl(167, 39%, 93%);
}
img{
    width: 15rem;
    border-radius: 13px;
}
.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6{
    display: flex;
    align-items: center;
    padding: 2rem;
}
.content-2,
.content-4,
.content-6{
    flex-direction: row-reverse;
}
a:link, a:visited {
    margin-top: 2.5rem;
    background-color: hsl(187, 80%, 18%);
    color: hsl(0, 4%, 69%);
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 16px -6px rgb(116, 116, 116);
    transition: 0.3s;
}
a:hover{
    background-color: hsl(186, 90%, 24%);
    box-shadow: 0 0 20px -13px inset black;
    color: hsl(167, 39%, 93%);
}
.content-1{
    background-color: hsl(180, 20%, 60%);
}
.content-2{
    background-color: hsl(180, 20%, 60%);
}

.content-3{
    background-color: hsl(180, 20%, 60%);
}

.content-4{
    background-color: hsl(180, 20%, 60%);
}

.content-5{
    background-color: hsl(180, 20%, 60%);
}
.content-6{
    background-color: hsl(180, 20%, 60%);
    border-radius: 0 0 13px 13px;
}
p span {
    display: block;
    font-weight: 700;
    margin-bottom: 0.7em;
}